<!-- app/views/projects/_links.html.erb -->

<span class="links">
  |
  <%= link_to "Show all entries", project_entries_path(project)  %>
  |
  <%= link_to "Edit", edit_project_path(project) %>
</span>
