<!-- app/views/projects/show.html.erb -->

<p class="project">
  <%= image_tag @project.logo.url(:thumb) %>

  <%= @project.name %>

  <% if @project.description.present? %>
    -
    <%= @project.description %>
  <% end %>

  <%= render "links", project: @project %>
</p>
