<!-- app/views/projects/show.html.erb -->

<p class="project">
  <%= @project.name %>

  <% if @project.description.present? %>
    -
    <%= @project.description %>
  <% end %>
  -
  <%= link_to "Show all entries", project_entries_path(@project)  %>
  -
  <%= link_to "Edit", edit_project_path(@project)  %>
</p>
